# Email Configuration

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

EMAIL_ADDRESS=your_email@gmail.com
EMAIL_PASSWORD=your_app_password


# Application Settings

DAILY_EMAIL_LIMIT=25

DELAY_MIN_SECONDS=15
DELAY_MAX_SECONDS=30


# File Paths

CONTACT_FILE=data/input/contacts.xlsx
RESUME_FILE=data/attachments/resume.pdf
LOG_FILE=data/output/email_logs.csv